################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Kuro-DockLauncher2/.vs
/Kuro-DockLauncher2/bin/Debug/net8.0-windows
/Kuro-DockLauncher2/obj
/.vs
